<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>${TM_NEW_FILE_BASENAME}</title>
		<script type="text/javascript" src="Backbase/4_3_0/engine/boot.js"></script>
	</head>

	<body>
		<script 
			type="text/backbase+xml"
			xmlns="http://www.w3.org/1999/xhtml"
			xmlns:xi="http://www.w3.org/2001/XInclude"
			xmlns:d="http://www.backbase.com/2006/tdl"
			xmlns:e="http://www.backbase.com/2006/xel"
			xmlns:c="http://www.backbase.com/2006/command"
			xmlns:b="http://www.backbase.com/2006/btl"
			xmlns:${TM_PROJECT_NSPREFIX}="${TM_PROJECT_NS}"
			>

			<xi:include href="Backbase/4_3_0/bindings/config.xml"/>

		</script>
	</body>
</html>